.row.formreg.section.offset-header.has-pattern.box-new
  .col-md-12
    .container
      .row
        %p &nbsp;
        %p &nbsp;
        .well.panel.panel-default{style:"width: 700px; margin: 0 auto;"}
          %h4 Thank you for your SafetyNotice.com enrollment. 
          %p &nbsp;
          %h5 Please check your email for further instructions.
          .clearfix
  %p &nbsp;
  %p &nbsp;
