%script{src: "https://maps.googleapis.com/maps/api/js?libraries=geometry,places&ext=.js&#{Rails.application.secrets.gmap_api_key}"}
%script{src: "https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js", :type => "text/javascript"}
%script{src: "https://cdn.rawgit.com/googlemaps/v3-utility-library/master/markerwithlabel/src/markerwithlabel.js"}

.container
.row
.well
  %h4.text-center
    %label Location Map

.text-center
  %input{type: "radio", name: "employee", value: "current", data:{id: @company.id}, id: "existing_location", class: 'location_search'}
    %label{for: "existing_location", class: 'location_margin'} Employee Existing Location
  %input{type: "radio", name: "employee", value: "base" , data:{id: @company.id}, id: "base_location",  class: 'location_search'}
    %label{for: "base_location", class: 'location_margin'} Employee Base Location
  %input{type: "radio", name: "employee", id: "travel_history", onClick: "window.location = '/companies/#{@company.id}/employees/travel_history';"}
    %label{for: "travel_history", class: 'location_margin'} Employee Encounter History

  %br
  %br
  #dropdown_items.hidden
    %select{id: 'lovedone_location'}
      %option -- Select Loved One --
      - @company.lovedones.each do |lovedone|
        %option{value: "#{lovedone.id}"}
          =lovedone.name
  %br
  #required_address.star-color.hidden
    %label

  %br
  #company_address{data: {latitude: @company.latitude , longitude: @company.longitude}}

#map_canvas
#multi_markers
%div
  %ul.map-ions