.row
  .col-md-8.col-md-offset-2
    .panel.panel-success
      .panel-heading
        %h3.panel-title Editing Primary Contact
      .panel-body
        = render 'form'
      .panel-footer
        %td= link_to 'Back', lovedones_path, class: 'btn btn-success btn-md'
        %td 