<!-- ******HOW****** --> 
<section id="how" class="how section has-pattern">
    <div class="container">
        <div class="row">
            <div class="content col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6 text-center">
                <p class="intro">The <span class="redlink">Enrollments</span> under development</p>
                
            </div><!--//content-->
            
        </div><!--//row-->
    </div><!--//container-->
</section><!--//how-->
