/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require fullcalendar
 *= require select2
 *= require select2-bootstrap
 *= require bootstrap-table.css
 *= require bootstrap-table.min
 *= require jquery.dataTables.css
 *= require jquery.dataTables.min
 *= require spinner
 *= require_self
 * require gmaps4rails
 */


body {
  padding-top: 20px;
}

.footer {
//  padding: 70px 0;
  margin-top: 20px;
  border-top: 1px solid #e5e5e5;
  background-color: #f5f5f5!important;
  color: #333!important;
}

.footer p {
  margin-bottom: 0;
  color: #777;
}

.footer-links {
  margin: 10px 0;
  padding: 0;
}

.footer-links li {
  display: inline;
  padding: 0 2px;
}

.footer-links li:first-child {
  padding-left: 0;
}

.notrunc.dl-horizontal dt 
{
    white-space: normal;
    width: 300px; 
}

#map label { width: auto; display:inline; }
#map img { max-width: none; }

#multi_markers label { width: auto; display:inline; }
#multi_markers img { max-width: none; }

#multi_markers {
   display: block;
   width: 100%;
   height: 600px;
}

.modal-backdrop{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
  background-color: #000000;
}
.modal-backdrop.in {
  filter: alpha(opacity=50);
  opacity: .7;
}

