// Place all the styles related to the data_uploads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.data-upload-modal-dialog{
  width: 70% !important;
  margin: 30px auto;
}

#abbrevTimeOption2Content{
  .form-control{
    width: 20% !important;
  }
}

#openEncounterOption1Content{
  .form-control{
    width: 20% !important;
  }
}

#endEncounterOption2Content{
  .form-control{
    width: 20% !important;
  }
}

.new_appointment_fields{
  width: 50%;
}

.data-upload-well-height{
  min-height: 540px !important;
}