// Place all the styles related to the employees controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.employees{
	.heading{
		a{
			font-size: 13pt;
			line-height: 50px;
		}
	}
}

.travel-map{
  height: 400px;
}

.pointer {
  cursor: pointer;
}

.table-scroll{
    max-height: 300px;
    overflow: scroll;
    overflow-x: hidden;
    width: 102%;
}

.location_margin{
  margin-right: 10px;
}

.star-color{
  label {
    color: #e9322d !important;
  }
}

//track_locations.html.haml

p.map-info{ white-space: nowrap; }
.map-icon{
  float: left;
  width: 19%;
  height: 35px;
  line-height: 25px;
  background-color: #a0dc78;
  margin-left: 5px;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px;
  font-style: italic;
}
.map-icon-img{
  display: inline;
  width: 30px !important;
  height: 25px;
  margin-right: 10px;
}

.label-white {
  color: white;
  font-size: 13px;
}
.label-black {
  color: black;
  font-size: 13px;
}