 <!-- ******CONTACT****** --> 
    <section id="contact" class="contact section has-pattern">
        <div class="container">
            <div class="row text-center">
                
                <div class="intro col-md-6 col-sm-12 col-xs-12">
                        <h2 class="title">Contact US</h2>
                        <p>We’d like to hear from you.</p>
                        <ul class="text-left list-unstyled contact-details">
                            <li><i class="fa fa-envelope"></i><a href="mailto:sales@safetynotice.com">contact@safetynotice.com</a></li>
                            <li><i class="fa fa-phone-square"></i>Phone: 727-448-0000</li>
                            <li><i class="fa fa-fax"></i>Fax: 727-489-7189</li>
                            <li><i class="fa fa-home"></i>Mailing: P.O. Box 14636 Clearwater, FL 33766</li>
                        </ul>
                        <div class="contact-form">                            
                            <form class="form">                
                                <div class="form-group name">
                                    <label class="sr-only" for="name">Name</label>
                                    <input id="name" type="text" class="form-control" placeholder="Name:">
                                </div><!--//form-group-->
                                <div class="form-group email">
                                    <label class="sr-only" for="email">Email</label>
                                    <input id="email" type="email" class="form-control" placeholder="Email:">
                                </div><!--//form-group-->
                                <div class="form-group message">
                                    <label class="sr-only" for="message">Message</label>
                                    <textarea id="message" class="form-control" rows="6" placeholder="Message:"></textarea>
                                </div><!--//form-group-->
                                <button type="submit" class="btn btn-lg btn-theme">Send Message</button>
                            </form><!--//form-->                 
                    </div><!--//contact-form-->
                </div>
                <%= image_tag("others/poshreception.jpg", :class=>"contactpic col-md-6 col-sm-5 col-xs-12") %>
            </div><!--//row-->

            <div class="row">
               <div class="overview col-md-12 col-sm-12 col-xs-12">
                    <h3 class="text-center">
                       The <span class="redlink">FREE</span> and revolutionary communication platform for family members that cannot be present when their senior or handicapped loved one interacts with a serviceprovider.
                    </h3>
                </div><!--//overview-->
            </div>
            
            <div class="row text-center">
                 <ul class="social-icons list-inline">
                    <li><a id="twitter" href="#" ><i class="fa fa-twitter"></i></a></li>
                    <li><a id="facebook" href="#" ><i class="fa fa-facebook"></i></a></li>
                    <li><a id="linkedin" href="#" ><i class="fa fa-linkedin"></i></a></li>
                    <li><a id="google" href="#" ><i class="fa fa-google-plus"></i></a></li>                  
                </ul><!--//social-icons-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//contact-->  
    
