<section id="enroll" class="enrollments text-center">
    <div class="container">
            <div class="row">
                <h2 class="title text-center sr-only">Enrollment</h2>
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                   
                    <div class="content">
                        <h2 class="title">Loved Ones</h2>
                        <p class="text-justify">This is the enrollment section for loved ones. The information is typically entered for the loved one by a family member or guardian.</p> 
                        <a class="btn btn-success btn-lg btn-block" href="/users/sign_up?query=user" id="btn-login">Go Loved Ones</a> 
                    </div><!--//content-->  


                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    
                    <div class="content">
                        <h2 class="title" >Family Members</h2>
                        <p class="text-justify">This is the enrollment section for family members and guardians who wish to be notified when a loved one interacts with a service provider. Family members and/or guardians typically set up their own profile here.</p>  
                        <a class="btn btn-success btn-lg btn-block" href="/family_members/new" id="btn-login">Go Family Members</a>              
                    </div><!--//content-->                               </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                   
                    <div class="content">
                        <h2 class="title">Service Providers</h2>
                        <p class="text-justify">This is the enrollment section for providers rendering servcies to seniors, handicapped individuals and those with special needs. If the company has more than one location that wishes to participate in Safety Notice, each office MUST be entered separately.</p> 
                        <a class="btn btn-success btn-lg btn-block" href="/users/sign_up?query=serviceprovider" id="btn-login">Go Service Providers</a>             
                    </div><!--//content-->               
                </div><!--//item-->
                
            </div><!--//row-->
            
            <div class="row" style="display: none;">
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-calendar"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">App Feature One</h3>
                        <p>Outline an app feature here. You can change the icon above to any of the 300+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwsome icons</a> available. </p>  
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-comments"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">App Feature Two</h3>
                        <p>Outline an app feature here. You can change the icon above to any of the 300+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwsome icons</a> available. </p>   
                    </div><!--//content-->               
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12 text-center">
                    <div class="icon">
                        <i class="fa fa-globe"></i>                
                    </div><!--//icon-->
                    <div class="content">
                        <h3 class="title">App Feature Three</h3>
                        <p>Outline an app feature here. You can change the icon above to any of the 300+ <a href="http://fortawesome.github.io/Font-Awesome/icons/" target="_blank">FontAwsome icons</a> available. </p>   
                    </div><!--//content-->               
                </div><!--//item-->
            </div><!--//row-->
        </div><!--//container-->
</section><!--//story-->