<!-- ******FAQ****** --> 
    <section id="faq" class="contact section has-pattern">
        <div class="container">
		
		<div class="row m-t-40 members">
 <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
<p class="family">We enable family members to participate in a loved one's transport: even when they can't be there.
</p>
<p >We enable family members to participate in a loved one's transport: even when they can't be there.
</p>

 </div>
 
  <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 testimonial-image ">
  
   <%= image_tag("others/members.jpg", :class=>"") %>

 </div>
 
</div>

<div class="row m-t-40 members">
 <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6">
<p class="family">Home health visitations can deliver a variety
of services.
</p>
<p >Regardless of the task being administered, assuring the assignment occurred in a timely and effective manner is where Safety Notice excels.
</p>
<p >The Safety Notice program relating to home health maintains its focus on quality communication. At the beginning of a visit, the home health professional electronically notifies family members upon arrival at a loved one's location. Family members can validate the caregiver is on site through the GPS technology. To follow, the home health professional notifies the family when the visitation has been completed in a successful manner.
</p>
<p >With Safety Notice there is no second-guessing whether the home health service showed up for a scheduled appointment. That is truly peace of mind.
</p>

 </div>
 
  <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 testimonial-image ">
  <%= image_tag("others/health.jpg", :class=>"") %>
 
 </div>
 
</div>
		
		

		
            
        </div><!--//container-->
    </section><!--//faq-->
