<!-- ******FEATURES****** --> 
    <section id="features" class="features section" style: "top:110px;">
	
	
	
	
	
	
	
	
	
	
        <div class="container">
		
		
		
		
		
		
		<div class="row text-center">
   
   <div class="col-lg-3 col-md-3 col-sm-3">
   
    <span> <%= image_tag("others/star.png", :class=>"toppic overview") %> </span>
   
   
   <h3> What We Do</h3>
   
   <p>Our business at Safety Notice is very straightforward. We deliver communication for those who cannot.</p>

   
   </div>
   
    <div class="col-lg-3 col-md-3 col-sm-3">
	
	<span> <%= image_tag("others/star.png", :class=>"toppic overview") %> </span>
      <h3> Who We Help</h3>
   
   <p>Our main goal is to fill a communication void typically found when companies or medical professionals are providing services to an exceptional group of people: senior citizens, handicapped individuals and those with special needs. We caringly call this exceptional group "loved ones."
</p>

   
   </div>
   
    <div class="col-lg-3 col-md-3 col-sm-3">
	
	<span> <%= image_tag("others/star.png", :class=>"toppic overview") %> </span>
      <h3> How We Help</h3>
   
   <p>We use a state-of-the-art electronic notification system that provides family members, or those with an interest in the well being of a loved one, a signal once a service provider has safely and successfully interacted with a loved one. The signal can be sent to a smart phone, tablet or computer.

</p>

   
   </div>
   
    <div class="col-lg-3 col-md-3 col-sm-3">
	
	<span> <%= image_tag("others/star.png", :class=>"toppic overview") %> </span>
      <h3>Our Affiliates</h3>
   
   <p>The companies and medical professionals that use the Safety Notice communication system in their everyday course of business are leaders in their industry. They provide Safety Notice as a FREE SERVICE to all loved ones and family members.


</p>

   
   </div>
   
   </div>
		
		

		
		
		
		
         
        </div><!--//container-->
    </section><!--//features-->

   