    <!-- ******HOW****** --> 
    <section id="how" class="how section has-pattern">
        <div class="container">
            <div class="row">
                <div class="content col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6 text-center">
                    <h2 class="title">How it works</h2>
                    <p class="intro">The <span class="redlink">FREE</span> and revolutionary communication platform for family members that cannot be present when their senior or handicapped loved one interacts with a serviceprovider.</p>
                    
                </div><!--//content-->
                <div id="video-container" class="video-container col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                   <iframe class="videoframe" src="//player.vimeo.com/video/100919905?title=0&amp;byline=0&amp;portrait=0" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div><!--//video-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//how-->
