<!-- ******PROMO****** --> 
    <section id="promo" class="promo section">
        <div class="container">
        
			
			
			
			
			<div class="row m-t-40">
 <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 testimonial-image ">
  <%= image_tag("others/testimonial.jpg", :class=>"") %>
 </div>
 
 <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 testimonial">
 <p>"I just received a Safety Notice. I know my mom's okay."</p>
 <p>"The nurse just stopped by my dad's house and made sure he took his medication. Wow! Safety Notice sure gives me peace of mind."</p>
 <p>"The wheelchair transport driver just sent me a Safety Notice letting me know he got my mom to her doctor's appointment on time. What a relief!"</p>
 </div>
</div>
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
			
                
				
		 
        </div><!--//container-->
    </section><!--//promo-->
