<!-- ******STORY****** --> 
    <section id="story" class="faq has-pattern">
        <div class="container">
            <div class="row">
			<div class="col-md-12 col-md-12 col-sm-12 text-center"> <h2> Caring for an aging citizen, handicapped individual, or one<br> with special needs, is challenging.</h2> </div>
			
			
			
			
                <div class="content col-md-6 col-sm-6 col-xs-12">
                   
				   
				   
                    <p><strong>Caring for an aging citizen, handicapped individual or one with special needs is challenging. </strong>  The fact is family members simply cannot be present every time a medical professional appointment, home health aide visit or transport of a loved one occurs.  Not being there to see what transpires can be very stressful on the family. Simply stated, Safety Notice is security for loved ones and peace of mind for family members. </p>
                   
				   
				    <p><strong>Safety Notice is a technologically-advanced system designed to deliver superior communication </strong>between family members and providers rendering services to loved ones.  Thoughts such as, “Did the van pick up mom on time for her doctor’s appointment?” and “I sure hope the nurse showed up at dad’s house today to help him with his medicine,” are a thing of the past when a service provider utilizes Safety Notice.  </p>

                    <p><strong>The system simply sends a text message or an email</strong> to all interested parties once the service provider has safely and successfully interacted with their loved one.   It is easy to use and highly effective at conveying a positive encounter.   </p>

                    <p><strong>Good communication is essential when caring for loved ones. </strong> Safety Notice is fast becoming a key component in the communication cycle.  We encourage family members to ask for Safety Notice by name the next time they cannot be present when a service provider is interacting with their loved one. <a class="bluelink" href="#"> Click here for FREE enrollment of a loved one.</a></p>
                </div><!--//content-->
                <div class="handicappedlogo text-center member col-md-6 col-sm-5 col-xs-12">                        
                      
					  
					    <%= image_tag("others/about-us.png", :class=>"") %>
					  
					  
                                     
                </div><!--//team-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//story-->
