<!-- ******TAG****** --> 
    <section id="tag" class="tag section offset-header has-pattern">
        <div class="container">            
          
		  
		  
		  <div class="row">
<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 titel">
<h1>The <span class="free">FREE</span> and revolutionary communication platform </h1>
<p class="head">for family members that cannot be present when their senior or handicapped loved one interacts with a service  provider.
</p>
</div>


</div>
		  
		  
		  
	<div class="row">
<div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 text-center">
<ul class="list-inline">
<li>
<a href="#"><%= image_tag("others/twitter.png", :class=>"") %></a>
</li>
<li>
<a href="#"><%= image_tag("others/facebook.png", :class=>"") %></a>
</li>
<li>
<a href="#"><%= image_tag("others/linkedin.png", :class=>"") %></a>
</li>
<li>
<a href="#"><%= image_tag("others/google.png", :class=>"") %></a>
</li>
</ul>


</div>
</div>	  
		  
		  
		  
		  
		  
		  
        </div><!--//container-->
    </section><!--//tag-->