 <section id="track" class="faq section has-pattern" style="top:100px;">
        <div class="container">
            <div class="row">
                <div class="content col-md-6 col-sm-6 col-xs-12 text-center">
                    <h2 class="title">GPS Tracking</h2>
                    <p class="text-justify">
                        Safety Notice utilizes cutting-edge GPS tracking technology.  The system has two powerful tools.
                    </p>
                    <p class="text-justify">
                        First, we have a custom mobile app utilized by our network of service providers.  For transportation providers, it records the pick up and drop off of a loved one.  For home health providers, it documents each arrival and departure from a loved one’s residence.  The app sends a notification of the provider’s interaction to family members and/or concerned friends.
                    </p>
					<p class="text-justify">
                        Second, we employ a proprietary online tracking map.  This enables family members and/or concerned friends to see where a loved one is located at any time during a transport and confirm they have arrived at their destination.  The tracking map also validates a home health provider is located at a loved one’s residence.
                    </p>
                </div><!--//content-->
                <div class="handicappedlogo text-center member col-md-6 col-sm-5 col-xs-12">
                                     
                        <img src="/assets/others/tracking-image.png" class="col-md-6 img-rounded col-sm-5 col-xs-12" alt="GPS Tracking">
                    <!--//logo-->                    
                </div><!--//team-->
            </div><!--//row-->
        </div><!--//container-->
    </section><!--//story-->