<!--textarea name="textarea" rows="5" cols="40"-->
<div style="width: 100%; height: 150px; overflow: auto; border: solid 1px #000; padding: 4px; border-radius: 3px; border-color: #3C763D;">
END-USER LICENSE AGREEMENT FOR SAFETY NOTICE – INDIVIDUAL VERSION. IMPORTANT PLEASE READ THE TERMS AND CONDITIONS OF THIS LICENSE AGREEMENT CAREFULLY BEFORE CONTINUING WITH THE ENROLLMENT PROCESS: Safety Notice’s End-User License Agreement ("EULA") is a legal agreement between you and Safety Notice Corporation for the Safety Notice software product(s) identified above which may include associated software components, media, printed materials, and online or electronic documentation ("SOFTWARE PRODUCT"). By enrolling, installing or otherwise using the SOFTWARE PRODUCT, you agree to be bound by the terms of this EULA. This license agreement represents the entire agreement concerning the program between you and Safety Notice Corporation and it supersedes any prior proposal, representation, or understanding between the parties. If you do not agree to the terms of this EULA, do not use or install the SOFTWARE PRODUCT.
The SOFTWARE PRODUCT is protected by copyright laws and international copyright treaties, as well as other intellectual property laws and treaties. The SOFTWARE PRODUCT is licensed, not sold.
1. GRANT OF LICENSE. 
The SOFTWARE PRODUCT is licensed as follows: 
(a) Installation and Use.
Safety Notice Corporation grants you the right to install and use the SOFTWARE PRODUCT on your computers, smart phones and/or tablets running a validly licensed copy of the operating system for which the SOFTWARE PRODUCT was designed [e.g., Windows, Mac, Android, etc.].
(b) Term and Price.
Your license term for the SOFTWARE PRODUCT is perpetual.  There is currently no charge to use the SOFTWARE PRODUCT.  However, Safety Notice Corporation reserves the right to charge a fee to use the SOFTWARE PRODUCT at any time during the term of the license.  Should Safety Notice Corporation choose to institute a fee for use of the SOFTWARE PRODUCT, it will notify you at least ninety (90) days in advance of the fee’s inception date and amount of the fee.  If you choose not to pay the fee when it becomes due, your license to use the SOFTWARE PRODUCT will end on the date the fee commences.    
2. DESCRIPTION OF OTHER RIGHTS AND LIMITATIONS.
(a) Maintenance of Copyright Notices.
You must not remove or alter any copyright notices on any and all copies of the SOFTWARE PRODUCT.
(b) Distribution.
You may not distribute registered copies of the SOFTWARE PRODUCT to third parties. 
(c) Prohibition on Reverse Engineering, Decompilation, and Disassembly.
You may not reverse engineer, decompile, or disassemble the SOFTWARE PRODUCT, except and only to the extent that applicable law notwithstanding this limitation expressly permits such activity. 
(d) Rental.
You may not rent, lease, or lend the SOFTWARE PRODUCT.
(e) Support Services.
Safety Notice Corporation may provide you with support services related to the SOFTWARE PRODUCT ("Support Services"). Any supplemental software code provided to you as part of the Support Services shall be considered part of the SOFTWARE PRODUCT and subject to the terms and conditions of this EULA. 
(f) Compliance with Applicable Laws.
You must comply with all applicable laws regarding use of the SOFTWARE PRODUCT.
3. TERMINATION 
Without prejudice to any other rights, Safety Notice Corporation may terminate this EULA if you fail to comply with the terms and conditions of this EULA. In such event, you must destroy all copies of the SOFTWARE PRODUCT in your possession.
4. COPYRIGHT
All title, including but not limited to copyrights, in and to the SOFTWARE PRODUCT and any copies thereof are owned by Safety Notice Corporation. All title and intellectual property rights in and to the content which may be accessed through use of the SOFTWARE PRODUCT is the property of the respective content owner and may be protected by applicable copyright or other intellectual property laws and treaties. This EULA grants you no rights to use such content. All rights not expressly granted are reserved by Safety Notice Corporation.
5. NO WARRANTIES
Safety Notice Corporation expressly disclaims any warranty for the SOFTWARE PRODUCT. The SOFTWARE PRODUCT is provided 'As Is' without any express or implied warranty of any kind, including but not limited to any warranties of merchantability, noninfringement, or fitness of a particular purpose. Safety Notice Corporation does not warrant or assume responsibility for the accuracy or completeness of any information, text, graphics, links or other items contained within the SOFTWARE PRODUCT. Safety Notice Corporation makes no warranties respecting any harm that may be caused by the transmission of a computer virus, worm, time bomb, logic bomb, or other such computer program. Safety Notice Corporation further expressly disclaims any warranty or representation to authorized users or to any third party.
6. LIMITATION OF LIABILITY
In no event shall Safety Notice Corporation be liable for any damages (including, without limitation, lost revenue or lost information) rising out of authorized users’ use of or inability to use the SOFTWARE PRODUCT, even if Safety Notice Corporation has been advised of the possibility of such damages. In no event will Safety Notice Corporation be liable for loss of data or for indirect, special, incidental, consequential (including lost revenue), or other damages based in contract, tort or otherwise. Safety Notice Corporation shall have no liability with respect to the content of the SOFTWARE PRODUCT or any part thereof, including but not limited to errors or omissions contained therein, libel, infringements of rights of publicity, privacy, trademark rights, business interruption, personal injury, loss of privacy, moral rights or the disclosure of confidential information.
</div>
<!--/textarea-->